# The absolute best way to setup a requirements.txt is to explicit pinning verison of libraries. Locking down the exact version you used during development guarantees that an app works perfectly every time it is deployed. Do it propessionally using the 'pip freeze > requirements.txt' command. Can organize under sections for better readability, after saving the exact versions for all libraries.

# --- Core Data Handling & Visualization ---
pandas
seaborn
numpy

#torch==2.9.1
#torchvision==0.24.1
#numpy==2.3.5
#pandas==2.3.3
#matplotlib==3.10.7
#seaborn==0.13.2s

# --- Machine Learning Libraries ---


#scikit-learn==1.8.0
#lightgbm==4.6.0
#catboost==1.2.8
#tensorflow==2.20.0
#keras==3.12.0

# --- Utilities & Tools ---
plotly
streamlit

#tqdm==4.67.1
#jupyter==1.1.1
#ipywidgets==8.1.8
#flask==3.1.2
#dash==3.3.0
#plotly==6.5.0
#shap==0.50.0
